.container {
  position: absolute;
  bottom: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #89899e;
  font-size: 14px;
  line-height: 24px;
}

.link {
  color: #332550;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(137, 137, 158, 0.24);
}

.bull::before {
  content: '•';
  color: rgb(137, 137, 158, 0.48);
  padding: 0 16px;
}
