.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  appearance: none;
  padding: 0 160px;
  margin: 40px 0 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
