.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  appearance: none;
  padding: 0 160px;
  max-width: 1360px;
  margin: 30px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
